// padding
.pt-0 {padding-top: 0 !important;}
.pr-0 {padding-right: 0 !important;}
.pd-0 {padding-bottom: 0 !important;}
.pl-0 {padding-left: 0 !important;}

// margin
.mt-0 {margin-top: 0 !important;}
.mr-0 {margin-right: 0 !important;}
.mb-0 {margin-bottom: 0 !important;}
.ml-0 {margin-left: 0 !important;}

//display
.block {display: block !important;}
.none {display: none !important;}
.inline {display: inline-block !important;}