section.balispa-heroes
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                .balispa-heroes-wrapper
                    .balispa-heroes-img
                        img(src="img/content/banner-heroes-01.jpg", alt="banner heroes", title="banner heroes")
                    .balispa-heroes-content
                        .inner