// Superfish
.sf-menu, 
.sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sf-menu {
	float: left;
    position: relative;
    
    margin: 0;
    padding: 0;
    list-style: none;
}

.sf-menu ul {
	position: absolute;
	display: none;
	top: calc(100% + 8px);
	left: 0;
    z-index: 99;

	min-width: 192px;
	*width: 192px;
    border-top: 1px solid #d3d3d3;

    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
}

.sf-menu li {
    position: relative;
    
	background: transparent;
	white-space: nowrap;
    *white-space: normal;

    @include vendor('transition', 'background .2s');
}

.sf-menu > li {
	float: left;
}

.sf-menu li:hover,
.sf-menu li.sfHover {
    
    @include vendor('transition', 'none');
}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
    position: relative;

    padding: 12px 16px;
    font-family: _font(roboto);
    font-weight: _font(weight-semibold);
    font-size: rem(14);
    line-height: 1.75;
    letter-spacing: rem(1);
	color: _color(nav-header);
    text-decoration: none;
    text-transform: uppercase;
    zoom: 1;
    outline: none;
}

.sf-arrows .sf-with-ul {
	padding-right: 40px;
	*padding-right: 40px;
}

.sf-arrows .sf-with-ul::after {
	position: absolute;
	top: 2px;
    right: 0;

	height: 40px;
    width: 40px;
    font-family: _font(icon);
    font-size: rem(16);
    line-height: 40px;
    content: '\F107';
    color: _color(black);
    text-align: center;
}

.sf-with-ul::after {

    @include vendor('transition', 'all .5s');
    @include vendor('transform', 'rotate(0deg)');
}

.sf-with-ul:hover::after {
    
    @include vendor('transition', 'all .5s');
    //@include vendor('transform', 'rotate(-180deg)'); 
}

.sf-menu ul li,
.sf-menu ul ul li {
	background: transparent;
}

.sf-menu ul ul {
	top: 0;
	left: 100%;
}

.sf-menu ul,
.sf-menu ul ul {
    padding-top: 8px;
    padding-bottom: 8px;

	background: _color(white);
}

.sf-menu ul li,
.sf-menu ul ul li {
    display: block;
}

.sf-menu ul li a,
.sf-menu ul ul li a {
    position: relative;

    padding: 8px 8px 8px 24px;
    font-size: rem(12);
    line-height: 24px;
    color: _color(nav-links);
    text-transform: none;

    @include vendor('transition', 'all 0.4s ease-in-out');
}

.sf-menu ul li a::after,
.sf-menu ul ul li a::after {
    
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;

    width: 24px;
    height: 24px;
    font-family: _font(icon);
    font-size: rem(14);
    line-height: 24px;
    text-align: center;
    color: _color(primary);
    content: '\F105';

    opacity: 0;
    @include vendor('transition', 'all 0.4s ease-in-out');
}

.sf-menu ul li:hover a,
.sf-menu ul ul li:hover a{
    padding-left: 40px;
}

.sf-menu ul li:hover a:after,
.sf-menu ul ul li:hover a:after{
    opacity: 1;
}

// mega menu

.sf-menu > li.sf-megamenu {
    position: initial !important;
}

.sf-menu .sf-mega {
    position: absolute;
    display: none;
    top: calc(100% + 8px);
    left: 0;
    z-index: 99;
}

.sf-menu li:hover > .sf-mega,
.sf-menu li.sfHover > .sf-mega {
    display: block;
}

.sf-menu .sf-mega {
    width: 100%;
}

.sf-menu > li > a {
    display: block;
    position: relative;

    padding: 12px 16px;
    text-decoration: none;
    zoom: 1;
    color: _color(black);
}

.sf-mega {
    padding: 16px;
    width: 100%;
    
    background-color: _color(white);
    box-sizing: border-box;
    border-top: 1px solid #d3d3d3;
    
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
}

.sf-mega .row {
    margin-left: -16px;
    margin-right: -16px;
}

.megamenu {
    width: 25%;
    padding-left: 16px;
    padding-right: 16px;
}

.megamenu ul {
    position: relative;
    display: block;
    top: 0;

    width: 100%;
    min-width: 100%;
    padding: 0 0;
    margin: 0 0;
    border: 0;

    box-shadow: none;
}

.megamenu ul li {
    position: relative;

    width: 100%;
    padding: 2px 0;
    border-bottom: 1px dashed #d3d3d3 ;
}