#header
    .inner
        .navbar
            .navbar-brand
                a(#)
                    img(src="img/logo.png", alt="logo", title="logo")
            .navbar-links
                ul#nav
                    li
                        a(href="index.html") Home
                    li 
                        a(href="about-us.html") About Us
                    li
                        a(href="service.html") Our Service
                    li
                        a(href="blog.html") Blog
                    li 
                        a(href="contact.html") Contact
